In [2]:
import pandas as pd
import os
from nba_api.stats.endpoints import playerindex, playbyplayv3
import utils.data_utils as du
import importlib

In [7]:
HOME_DIR = '/Users/yoav/Documents/Yoav/CS/20936 - DS Project/Shotpred'
DATA_DIR = os.path.join(HOME_DIR, 'data')
EXT_DATA_DIR = os.path.join(DATA_DIR, 'External')
INT_DATA_DIR = os.path.join(DATA_DIR, 'Internal')

In [8]:
KAGGLE_SHOT_LOGS_201415_FILENAME = 'kaggle_shot_logs_2014_15.csv'
KAGGLE_SHOT_LOGS_201415_FULLPATH = os.path.join(EXT_DATA_DIR, KAGGLE_SHOT_LOGS_201415_FILENAME)

GENERAL_SHOT_LOGS_FILENAME = 'nba_2015_shots.csv'
GENERAL_SHOT_LOGS_FULLPATH = os.path.join(EXT_DATA_DIR, GENERAL_SHOT_LOGS_FILENAME)

In [36]:
KAGGLE_COLS_FOR_MERGE = ['GAME_ID', 'SHOT_CLOCK', 'DRIBBLES', 'TOUCH_TIME', 'CLOSEST_DEFENDER', 'CLOSEST_DEFENDER_PLAYER_ID', 'CLOSE_DEF_DIST', 'player_id', 'ABS_TIME']
CAREER_STATS_COL_FOR_MERGE = [['PLAYER_ID', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT']] #already filtered for relevant season

In [9]:
shot_logs_1415 = pd.read_csv(KAGGLE_SHOT_LOGS_201415_FULLPATH)

In [10]:
active_players_201415_ids = shot_logs_1415['player_id'].unique()

In [11]:
shot_logs_1415['ABS_TIME'] = shot_logs_1415.apply(lambda row: du.clock_to_absolute_seconds(row['GAME_CLOCK'], row['PERIOD']), axis=1)

In [20]:
#active_players_career_stats = du.gather_mul_career_stats(active_players_201415_ids) # get the career stats for all active players in 2014-15 season

In [36]:
#active_players_cs_in_1415 = active_players_career_stats[active_players_career_stats['SEASON_ID'] == '2014-15'].reset_index(drop=True)
#active_players_cs_in_1415.to_csv(INT_DATA_DIR + 'active_players_career_stats_2014_15.csv', index=False)

In [13]:
active_players_cs_in_1415 = pd.read_csv(os.path.join(INT_DATA_DIR, 'active_players_career_stats_2014_15.csv'))

In [14]:
gen_sl = pd.read_csv(GENERAL_SHOT_LOGS_FULLPATH)

In [54]:
gen_sl.head()

,SEASON_1,SEASON_2,TEAM_ID,TEAM_NAME,PLAYER_ID,PLAYER_NAME,POSITION_GROUP,POSITION,GAME_DATE,GAME_ID,...,BASIC_ZONE,ZONE_NAME,ZONE_ABB,ZONE_RANGE,LOC_X,LOC_Y,SHOT_DISTANCE,QUARTER,MINS_LEFT,SECS_LEFT
0,2015,2014-15,1610612743,Denver Nuggets,203115,Will Barton,G,SG,04-15-2015,21401229,...,Restricted Area,Center,C,Less Than 8 ft.,-0.4,6.75,1,4,0,18
1,2015,2014-15,1610612744,Golden State Warriors,203949,James Michael McAdoo,F,PF,04-15-2015,21401229,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.35,0,4,0,22
2,2015,2014-15,1610612739,Cleveland Cavaliers,1890,Shawn Marion,F,SF,04-15-2015,21401225,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.35,0,5,0,3
3,2015,2014-15,1610612744,Golden State Warriors,203949,James Michael McAdoo,F,PF,04-15-2015,21401229,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.35,0,4,0,37
4,2015,2014-15,1610612743,Denver Nuggets,203475,Erick Green,G,PG,04-15-2015,21401229,...,Mid-Range,Left Side,L,16-24 ft.,16.9,14.85,19,4,0,48

In [ ]:
gen_sl['ABS_TIME'] = gen_sl.apply(lambda row: du.clock_to_absolute_seconds(f"{str(row["MINS_LEFT"]).zfill(2)}:{str(row["SECS_LEFT"]).zfill(2)}", row['QUARTER']), axis=1)

In [37]:
kaggle_for_join = shot_logs_1415[KAGGLE_COLS_FOR_MERGE]

In [42]:
kaggle_for_join.GAME_ID.unique()

array([21400899, 21400890, 21400882, 21400859, 21400845, 21400827,
       21400816, 21400783, 21400768, 21400761, 21400742, 21400719,
       21400713, 21400689, 21400652, 21400643, 21400625, 21400611,
       21400600, 21400574, 21400549, 21400535, 21400522, 21400510,
       21400495, 21400484, 21400478, 21400459, 21400444, 21400438,
       21400423, 21400409, 21400395, 21400384, 21400369, 21400355,
       21400341, 21400334, 21400316, 21400276, 21400263, 21400237,
       21400224, 21400210, 21400198, 21400195, 21400172, 21400160,
       21400146, 21400140, 21400130, 21400107, 21400097, 21400071,
       21400057, 21400054, 21400041, 21400028, 21400004, 21400902,
       21400888, 21400873, 21400862, 21400848, 21400808, 21400898,
       21400894, 21400876, 21400866, 21400851, 21400836, 21400812,
       21400797, 21400780, 21400764, 21400756, 21400740, 21400729,
       21400703, 21400690, 21400673, 21400655, 21400638, 21400626,
       21400610, 21400597, 21400571, 21400555, 21400542, 21400528,
       21400516, 21400498, 21400492, 21400472, 21400464, 21400450,
       21400412, 21400383, 21400373, 21400366, 21400350, 21400338,
       21400314, 21400306, 21400286, 21400271, 21400251, 21400239,
       21400219, 21400204, 21400192, 21400182, 21400157, 21400134,
       21400126, 21400110, 21400099, 21400091, 21400080, 21400066,
       21400048, 21400037, 21400019, 21400012, 21400904, 21400878,
       21400855, 21400840, 21400826, 21400905, 21400868, 21400829,
       21400798, 21400787, 21400766, 21400748, 21400736, 21400717,
       21400695, 21400680, 21400667, 21400648, 21400632, 21400622,
       21400586, 21400573, 21400562, 21400548, 21400534, 21400517,
       21400508, 21400494, 21400471, 21400458, 21400439, 21400430,
       21400426, 21400402, 21400392, 21400356, 21400351, 21400339,
       21400315, 21400300, 21400279, 21400264, 21400255, 21400248,
       21400234, 21400222, 21400180, 21400169, 21400155, 21400145,
       21400131, 21400114, 21400104, 21400056, 21400038, 21400026,
       21400013, 21400003, 21400815, 21400197, 21400907, 21400886,
       21400880, 21400861, 21400854, 21400838, 21400824, 21400814,
       21400793, 21400760, 21400749, 21400741, 21400730, 21400715,
       21400679, 21400665, 21400651, 21400636, 21400615, 21400603,
       21400593, 21400582, 21400547, 21400533, 21400518, 21400493,
       21400474, 21400452, 21400431, 21400415, 21400382, 21400365,
       21400348, 21400340, 21400324, 21400305, 21400289, 21400275,
       21400262, 21400243, 21400212, 21400206, 21400196, 21400121,
       21400108, 21400095, 21400087, 21400068, 21400042, 21400014,
       21400775, 21400892, 21400858, 21400843, 21400822, 21400805,
       21400789, 21400779, 21400767, 21400732, 21400722, 21400708,
       21400697, 21400683, 21400661, 21400642, 21400628, 21400613,
       21400602, 21400592, 21400568, 21400558, 21400540, 21400526,
       21400519, 21400501, 21400449, 21400434, 21400420, 21400413,
       21400396, 21400370, 21400358, 21400343, 21400330, 21400319,
       21400301, 21400295, 21400280, 21400267, 21400254, 21400225,
       21400215, 21400205, 21400174, 21400133, 21400124, 21400100,
       21400084, 21400064, 21400032, 21400008, 21400580, 21400466,
       21400871, 21400893, 21400870, 21400857, 21400823, 21400809,
       21400791, 21400776, 21400759, 21400707, 21400691, 21400666,
       21400656, 21400633, 21400612, 21400605, 21400590, 21400579,
       21400569, 21400543, 21400525, 21400515, 21400499, 21400489,
       21400470, 21400463, 21400445, 21400427, 21400419, 21400406,
       21400388, 21400363, 21400329, 21400318, 21400302, 21400294,
       21400278, 21400250, 21400236, 21400211, 21400190, 21400179,
       21400163, 21400132, 21400109, 21400083, 21400077, 21400063,
       21400051, 21400031, 21400016, 21400007, 21400906, 21400669,
       21400879, 21400867, 21400852, 21400820, 21400813, 21400903,
       21400889, 21400884, 21400865, 21400849, 21400833, 21400817,
       21400803, 21400794, 21400758, 21400755, 21400738, 21400701,
       21400687, 21400671, 21400660, 21400647, 21400618, 21400608,
       21400589, 21400577, 21400563, 21400541, 21400488, 21400481,
       21400469, 21400447, 21400437, 21400417, 21400408, 21400394,
       21400380, 21400336, 21400323, 21400311, 21400293, 21400258,
       21400208, 21400128, 21400098, 21400089, 21400045, 21400027,
       21400001, 21400181, 21400158, 21400153, 21400900, 21400885,
       21400872, 21400819, 21400772, 21400734, 21400675, 21400664,
       21400641, 21400630, 21400619, 21400578, 21400565, 21400553,
       21400507, 21400473, 21400457, 21400443, 21400400, 21400387,
       21400374, 21400359, 21400353, 21400333, 21400304, 21400166,
       21400119, 21400093, 21400059, 21400052, 21400040, 21400029,
       21400841, 21400752, 21400721, 21400699, 21400684, 21400410,
       21400308, 21400281, 21400261, 21400227, 21400201, 21400186,
       21400175, 21400103, 21400874, 21400810, 21400801, 21400781,
       21400762, 21400744, 21400724, 21400706, 21400702, 21400685,
       21400678, 21400646, 21400631, 21400616, 21400594, 21400581,
       21400572, 21400550, 21400529, 21400511, 21400503, 21400486,
       21400455, 21400425, 21400397, 21400372, 21400367, 21400310,
       21400298, 21400284, 21400269, 21400257, 21400235, 21400214,
       21400203, 21400188, 21400137, 21400120, 21400106, 21400094,
       21400070, 21400046, 21400002, 21400897, 21400842, 21400825,
       21400770, 21400739, 21400723, 21400692, 21400670, 21400662,
       21400645, 21400629, 21400530, 21400485, 21400465, 21400462,
       21400433, 21400418, 21400405, 21400371, 21400292, 21400272,
       21400246, 21400230, 21400161, 21400150, 21400123, 21400113,
       21400090, 21400072, 21400058, 21400053, 21400788, 21400609,
       21400588, 21400575, 21400199, 21400185, 21400566, 21400557,
       21400891, 21400883, 21400856, 21400839, 21400821, 21400800,
       21400796, 21400747, 21400743, 21400718, 21400711, 21400700,
       21400681, 21400676, 21400658, 21400620, 21400599, 21400570,
       21400561, 21400523, 21400509, 21400479, 21400453, 21400416,
       21400401, 21400386, 21400326, 21400303, 21400055, 21400022,
       21400018, 21400273, 21400253, 21400238, 21400159, 21400147,
       21400125, 21400081, 21400896, 21400804, 21400694, 21400567,
       21400552, 21400538, 21400490, 21400476, 21400460, 21400448,
       21400435, 21400407, 21400398, 21400377, 21400342, 21400317,
       21400287, 21400260, 21400220, 21400184, 21400135, 21400122,
       21400112, 21400074, 21400049, 21400021, 21400005, 21400274,
       21400881, 21400774, 21400731, 21400705, 21400644, 21400617,
       21400587, 21400844, 21400835, 21400763, 21400750, 21400733,
       21400728, 21400716, 21400698, 21400686, 21400649, 21400639,
       21400614, 21400591, 21400527, 21400496, 21400475, 21400432,
       21400404, 21400385, 21400357, 21400265, 21400241, 21400223,
       21400194, 21400176, 21400162, 21400148, 21400111, 21400086,
       21400034, 21400006, 21400887, 21400875, 21400331, 21400901,
       21400864, 21400837, 21400828, 21400795, 21400786, 21400754,
       21400725, 21400710, 21400693, 21400654, 21400604, 21400576,
       21400853, 21400802, 21400790, 21400757, 21400545, 21400521,
       21400468, 21400454, 21400428, 21400414, 21400390, 21400375,
       21400361, 21400354, 21400322, 21400291, 21400282, 21400266,
       21400249, 21400231, 21400191, 21400177, 21400024, 21400714,
       21400663, 21400637, 21400624, 21400595, 21400152, 21400139,
       21400102, 21400556, 21400069, 21400751, 21400726, 21400606,
       21400546, 21400440, 21400421, 21400391, 21400346, 21400325,
       21400232, 21400221, 21400209, 21400142, 21400115, 21400067,
       21400047, 21400036, 21400011, 21400895, 21400811, 21400782,
       21400674, 21400514, 21400500, 21400482, 21400378, 21400259,
       21400168, 21400096, 21400850, 21400834, 21400908, 21400869,
       21400818, 21400784, 21400773, 21400745, 21400704, 21400659,
       21400650, 21400634, 21400596, 21400560, 21400531, 21400520,
       21400491, 21400480, 21400442, 21400393, 21400360, 21400352,
       21400337, 21400313, 21400307, 21400290, 21400173, 21400165,
       21400141, 21400116, 21400079, 21400065, 21400830, 21400847,
       21400696, 21400682, 21400627, 21400601, 21400539, 21400524,
       21400502, 21400441, 21400422, 21400345, 21400332, 21400288,
       21400277, 21400270, 21400213, 21400187, 21400200, 21400127,
       21400043, 21400030, 21400023, 21400832, 21400073, 21400831,
       21400792, 21400778, 21400753, 21400712, 21400677, 21400653,
       21400554, 21400544, 21400506, 21400207, 21400164, 21400156,
       21400143, 21400088, 21400076, 21400062, 21400399, 21400381,
       21400376, 21400344, 21400312, 21400285, 21400218, 21400105,
       21400240, 21400226, 21400389, 21400296, 21400268, 21400244,
       21400233, 21400193, 21400151, 21400136, 21400118, 21400078,
       21400009, 21400513, 21400446, 21400436, 21400860, 21400807,
       21400777, 21400746, 21400688, 21400536, 21400487, 21400477,
       21400456, 21400451, 21400379, 21400299, 21400256, 21400245,
       21400229, 21400202, 21400167, 21400075, 21400061, 21400010,
       21400863, 21400846, 21400806, 21400769, 21400727, 21400709,
       21400551, 21400504, 21400403, 21400362, 21400347, 21400309,
       21400297, 21400216, 21400129, 21400101, 21400033, 21400017,
       21400799, 21400584, 21400564, 21400512, 21400497, 21400411,
       21400283, 21400228, 21400217, 21400144, 21400050, 21400771,
       21400735, 21400327, 21400737, 21400657, 21400623, 21400598,
       21400559, 21400537, 21400505, 21400364, 21400349, 21400170,
       21400149, 21400085, 21400785, 21400635, 21400621, 21400607,
       21400532, 21400483, 21400461, 21400368, 21400189, 21400171,
       21400092, 21400039, 21400025, 21400765, 21400672, 21400424,
       21400335, 21400178, 21400044, 21400020, 21400015, 21400877,
       21400720, 21400640, 21400583, 21400252, 21400154, 21400082,
       21400328, 21400320, 21400242, 21400035, 21400467, 21400183,
       21400138, 21400321, 21400247, 21400060])

In [43]:
gen_sl.GAME_ID.unique()

array([21401229, 21401225, 21401230, ..., 21400003, 21400001, 21400002])

In [44]:
gen_sl_game_ids = set(gen_sl['GAME_ID'].unique())
kaggle_for_join_game_ids = set(kaggle_for_join['GAME_ID'].unique())

common_game_ids = gen_sl_game_ids.intersection(kaggle_for_join_game_ids)

print(f"Number of unique GAME_IDs in gen_sl: {len(gen_sl_game_ids)}")
print(f"Number of unique GAME_IDs in kaggle_for_join: {len(kaggle_for_join_game_ids)}")
print(f"Number of common GAME_IDs in both: {len(common_game_ids)}")

Number of unique GAME_IDs in gen_sl: 1230
Number of unique GAME_IDs in kaggle_for_join: 904
Number of common GAME_IDs in both: 904

In [38]:
base_and_kag = pd.merge(gen_sl, kaggle_for_join, on=['GAME_ID', 'ABS_TIME'], suffixes=('_gen', '_kag'))
base_and_kag.head()

,SEASON_1,SEASON_2,TEAM_ID,TEAM_NAME,PLAYER_ID,PLAYER_NAME,POSITION_GROUP,POSITION,GAME_DATE,GAME_ID,...,MINS_LEFT,SECS_LEFT,ABS_TIME,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_id
0,2015,2014-15,1610612760,Oklahoma City Thunder,201566,Russell Westbrook,G,PG,03-04-2015,21400904,...,1,55,3485.0,20.2,5,4.9,"Noel, Nerlens",203457,0.0,201566
1,2015,2014-15,1610612757,Portland Trail Blazers,200746,LaMarcus Aldridge,F,PF,03-04-2015,21400908,...,0,59,3541.0,12.9,0,0.4,"Jordan, DeAndre",201599,1.9,200746
2,2015,2014-15,1610612747,Los Angeles Lakers,201941,Jordan Hill,C,C,03-04-2015,21400905,...,0,0,2880.0,NaN,0,0.9,"Walker, Henry",201611,16.4,201941
3,2015,2014-15,1610612738,Boston Celtics,203092,Tyler Zeller,C,C,03-04-2015,21400898,...,0,0,2880.0,NaN,0,1.4,"Hood, Rodney",203918,1.7,203092
4,2015,2014-15,1610612751,Brooklyn Nets,202721,Darius Morris,G,PG,03-04-2015,21400899,...,2,5,2755.0,24.0,0,1.5,"Vonleh, Noah",203943,2.5,202366

In [39]:
gen_sl.shape, kaggle_for_join.shape, base_and_kag.shape

((205550, 27), (128069, 9), (5571, 34))

In [35]:
gen_sl.groupby('ABS_TIME').size().sort_values(ascending=False)

ABS_TIME
720.0     756
1440.0    754
2160.0    751
2159.0    326
719.0     325
         ...
4173.0      1
4176.0      1
4178.0      1
4179.0      1
5038.0      1
Length: 3386, dtype: int64

In [45]:
ap_1415_index = playerindex.PlayerIndex(season='2014-15').get_data_frames()[0]

In [ ]:
ap_1415_index_for_join = ap_1415_index[['PERSON_ID', 'HEIGHT']]

In [56]:
test = playbyplayv3.PlayByPlayV3(game_id='0021401229').get_data_frames()[0]

In [ ]:
test.actionType.unique()

In [69]:
kk = test[test.actionType == 'Substitution'].reset_index(drop=True)

In [123]:
kk.head()

,gameId,actionNumber,clock,period,teamId,teamTricode,personId,playerName,playerNameI,xLegacy,...,scoreHome,scoreAway,pointsTotal,location,description,actionType,subType,videoAvailable,shotValue,actionId
0,0021401229,73,PT04M45.00S,1,1610612744,GSW,202691,Thompson,K. Thompson,0,...,0,0,0,h,SUB: Iguodala FOR Thompson,Substitution,,0,0,73
1,0021401229,74,PT04M45.00S,1,1610612744,GSW,203084,Barnes,H. Barnes,0,...,0,0,0,h,SUB: Barbosa FOR Barnes,Substitution,,0,0,74
2,0021401229,75,PT04M45.00S,1,1610612743,DEN,203994,Nurkic,J. Nurkic,0,...,0,0,0,v,SUB: Hickson FOR Nurkic,Substitution,,0,0,75
3,0021401229,103,PT02M12.00S,1,1610612744,GSW,101106,Bogut,A. Bogut,0,...,0,0,0,h,SUB: Ezeli FOR Bogut,Substitution,,0,0,100
4,0021401229,104,PT02M12.00S,1,1610612743,DEN,203914,Harris,G. Harris,0,...,0,0,0,v,SUB: Barton FOR Harris,Substitution,,0,0,101

In [134]:
test['ABS_TIME'] = test.apply(lambda row: du.clock_to_absolute_seconds(row['clock'], row['period']), axis=1)

In [149]:
shot_logs_1415.head() # kaggle shot logs

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id,ABS_TIME
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148,651.0
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148,706.0
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148,720.0
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148,733.0
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148,806.0

In [152]:
shot_logs_1415.columns

Index(['GAME_ID', 'MATCHUP', 'LOCATION', 'W', 'FINAL_MARGIN', 'SHOT_NUMBER',
       'PERIOD', 'GAME_CLOCK', 'SHOT_CLOCK', 'DRIBBLES', 'TOUCH_TIME',
       'SHOT_DIST', 'PTS_TYPE', 'SHOT_RESULT', 'CLOSEST_DEFENDER',
       'CLOSEST_DEFENDER_PLAYER_ID', 'CLOSE_DEF_DIST', 'FGM', 'PTS',
       'player_name', 'player_id', 'ABS_TIME'],
      dtype='object')

In [159]:
shot_logs_1415.head(3)

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id,ABS_TIME
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148,651.0
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148,706.0
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148,720.0

In [160]:
active_players_cs_in_1415.columns

Index(['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [151]:
gen_sl.columns

Index(['SEASON_1', 'SEASON_2', 'TEAM_ID', 'TEAM_NAME', 'PLAYER_ID',
       'PLAYER_NAME', 'POSITION_GROUP', 'POSITION', 'GAME_DATE', 'GAME_ID',
       'HOME_TEAM', 'AWAY_TEAM', 'EVENT_TYPE', 'SHOT_MADE', 'ACTION_TYPE',
       'SHOT_TYPE', 'BASIC_ZONE', 'ZONE_NAME', 'ZONE_ABB', 'ZONE_RANGE',
       'LOC_X', 'LOC_Y', 'SHOT_DISTANCE', 'QUARTER', 'MINS_LEFT', 'SECS_LEFT'],
      dtype='object')

In [153]:
test.columns

Index(['gameId', 'actionNumber', 'clock', 'period', 'teamId', 'teamTricode',
       'personId', 'playerName', 'playerNameI', 'xLegacy', 'yLegacy',
       'shotDistance', 'shotResult', 'isFieldGoal', 'scoreHome', 'scoreAway',
       'pointsTotal', 'location', 'description', 'actionType', 'subType',
       'videoAvailable', 'shotValue', 'actionId', 'ABS_TIME'],
      dtype='object')